@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

::selection {
  background-color: #d5ff99;
}

.russo-one {
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
}

.lexend-deca {
  font-family: 'Lexend Deca', sans-serif;
}

.creepster {
  font-family: 'Creepster', cursive;
  color: #93ddf3;
  -webkit-text-stroke: 1px #d5ff99;
}
